@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

  
@theme inline {
  --font-kanit: var(--font-kanit);
  --font-poppins: var(--font-roboto-mono);
}


 
html {
  font-family: var(--font-poppins);
 
}

 